@font-face {
  font-family: Calc;
  src: url(montserrat.ttf)
}

@font-face {
  font-family: Mono;
  src: url(iosevka.ttf);
}

@font-face {
  font-family: Math;
  src: url(petrona2.ttf);
}

body, html {
  margin: 0;
  width: 300px;
}

main {
  background: #384040;
  padding: 10px;
  width: 300px;
  box-sizing: border-box;
  user-select: none;
}

main i {
  font: bold 120% Math;
}

main q:before,
main q:after {
  content: "";
}

q {
  position: relative;
}

img[src="sqrt.svg"] {
  position: absolute;
  top: 2px;
  left: -8px;
  width: 14px;
  height: 14px;
}

#screen {
/*  font-size-adjust: none; */
  height: 100px;
  width: 274px;
  border: 3px solid #ddc;
  border-radius: 2px;
  overflow: hidden;
  color: #234;
  /* there are seams and the color after the comma hides the seams */
  background: 0 0 / calc(2 * 100% / 35) calc(2 * 100% / 5) url(bg.svg), #abb;
  margin-bottom: 4px;
  font-family: Mono;
  font-size: 16.5px;
  line-height: 20px;
  white-space: pre;
  overflow: hidden;
  outline: none;
}

#screen.dim {
  color: #789;
}

#screen:focus {
  color: #246;
}

#hex,
#keys1,
#keys2 {
  display: grid
}

#hex {
  grid: 1fr / repeat(6, 1fr)
}

#keys1 {
  grid: 1fr / repeat(5, 1fr)
}

#keys2 {
  grid: repeat(4, 1fr) / repeat(4, 1fr)
}

#hex>button {
  height: 34px
}

#keys1>button,
#keys2>button {
  height: 46px
}

#keys1>button:nth-of-type(1) {
  grid-column: span 2
}

#keys1>button,
#keys2>button {
  display: flex;
  flex-direction: column-reverse;
  line-height: 24px;
}

#keys1>button:nth-of-type(4),
#keys2>button {
  font-size: 26px;
}

button {
  align-items: normal;
  font: bold 20px Calc;
  color: #ffc;
  background: #222;
  border-radius: 4px;
  padding: 0;
  margin: 5px 4px;
  border: 4px solid #121212;
  line-height: 1.1;
}

button>p {
  text-align: start;
  color: #c76;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

button u {
  text-decoration: none;
  display: inline-block;
  width: 1px;
}

.c {
  text-align: center
}

.n {
  font-size: 11px;
  letter-spacing: -1px;
}

s,
.inv {
  color: #a8f;
  text-decoration: none;
}

s {
  float: right;
}

button.alt>p.alt {
  color: #c76;
  position: relative;
  top: -21px;
  text-align: center;
  font-size: 18px;
}

button.alt:not(#x) {
  color: #c76;
  font-size: 20px;
}

button.alt>p {
  color: #a8f;
  position: relative;
  top: 15px;
  font-size: 18px;
}

button:active:not(.deactivated) {
  background: #333;
  border-color: #222;
  transform: translateY(2px);
}

/* Copyright see AUTHORS & LICENSE; SPDX-License-Identifier: ISC+ */
